@font-face {
    font-family: 'Acumin Pro';
    src: url('./font/AcuminPro-Light.eot');
    src: url('./font/AcuminPro-Light.eot'') format('embedded-opentype'),
        url('./font/AcuminPro-Light.eot') format('woff2'),
        url('AcuminPro-Light.woff') format('woff'),
        url('AcuminPro-Light.ttf') format('truetype'),
        url('AcuminPro-Light.svg#AcuminPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
